.main{
}

.main_red{
    background-color: #eb5757;
}

.main__content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    height: 50px;
    display: flex;
    align-items: center;
}

.header__logo{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.header__menu{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu__content{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: sans-serif;
    color: whitesmoke;
    padding: 5px;
    margin: 0 20px;
}

.menu__content:hover {
    border-radius: 10px;
    background: #333;
}


.header__card{
    flex-grow: 0;
    display: flex;
    padding: 5px 10px;
}

.header__card_logo{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #333;
}

.header__card_products_position_numbers{
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: sans-serif;
    color: whitesmoke;
    align-items: flex-start;
    align="right"

}